h1 {
  color: blue;
}
body {
  padding: 100px;
  margin-top: 150px;
}
.center {
  text-align: center;
  margin-left: auto;
  display: block;
}

.fa-sun {
  color: yellow;
  font-size: 50px;
  text-align: center;
}
.fa-cloud {
  color: cornflowerblue;
  font-size: 50px;
}
.fa-cloud-sun {
  color: cornflowerblue;
  font-size: 50px;
}
.weatherApp {
  padding: 20px;
  border: 1px solid darkgrey;
  margin: 200px;
  max-width: 500px;
  border-radius: 10px;
}
#GitHub {
  margin-left: 50px;
  text-align: center;
}